<section class="portfolio-section">
    <div class="container-fluid">
        <h4>Experiences</h4>
        <div class="row AR3312-JX">
            <div class="col-md-12 experience-row-JX">
                <div class="row">
                    <div class="col-md-12 experience-JX">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <img src="/assets/images/infosys-logo-1.png" class="mr-3 AR3318-JX" alt="...">
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-0 position-role-JX"><span>Senior Systems Engineer</span><span class="tenure-JX">Present : 10 Months</span></h6>
                                        <div class="company-name-location-JX"><span>Infosys Limited - Gurgaon</span></div>
                                        <div class="work-description-JX"><span class="font-weight-bold">Description</span> : Working on AEM as AEM Developer and developing components, templates, workflows, sling models & services, other product integration and, work on CRXDE Editor, OSGi configuration, core component, ACS Common, Adobe I/O Runtime, <a href="#">read more...</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 tools-tech-JX">
                    <ul>
                        <li>Java</li>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                        <li>HTML</li>
                        <li>LESS</li>
                        <li>CSS</li>
                        <li>NodeJs</li>
                        <li>Adobe Experience Manager</li>
                        <li>Components Development</li>
                        <li>Slightly/HTL</li>
                        <li>Servlet</li>
                        <li>Services</li>
                        <li>Postman</li>
                        <li>JIRA</li>
                        <li>Confluence Tool</li>
                        <li>Jenkins</li>
                        <li>GIT</li>
                        <li>GitHub</li>
                        <li>BitBucket</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 experience-row-JX">
                <div class="row">
                    <div class="col-md-12 experience-JX">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <img src="/assets/images/techjockey-logo-1.svg" class="mr-3 AR3318-JX" alt="...">
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-0 position-role-JX"><span>Software Developer</span><span class="tenure-JX">Tenure: 10 Months</span></h6>
                                        <div class="company-name-location-JX"><span>Techjockey Infotech Pvt Ltd - New Delhi</span></div>
                                        <div class="work-description-JX"><span class="font-weight-bold">Description</span> : Worked as Software Developer, developed new websites, code in php framework for adding new features in projects, create apis using nodejs, libraries using javascript, integrate those with exiting project. Website debugging, code optimization, web performance along with code reviews, <a href="#">read more...</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 tools-tech-JX">
                    <ul>
                        <li>PHP</li>
                        <li>JavaScript</li>
                        <li>JQuery</li>
                        <li>HTML</li>
                        <li>LESS</li>
                        <li>CSS</li>
                        <li>NodeJs</li>
                        <li>ExpressJs</li>
                        <li>Codeignitor</li>
                        <li>Laravel</li>
                        <li>ReactJs</li>
                        <li>Bootstrap</li>
                        <li>Materialize</li>
                        <li>API Development</li>
                        <li>MySQL</li>
                        <li>MongoDB</li>
                        <li>Postman</li>
                        <li>JIRA</li>
                        <li>ClickUp</li>
                        <li>GIT</li>
                        <li>GitHub</li>
                        <li>Docker</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 experience-row-JX">
                <div class="row">
                    <div class="col-md-12 experience-JX">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="media">
                                    <img src="/assets/images/buzzyears-edu-logo-1.png" class="mr-3 AR3318-JX" alt="...">
                                    <div class="media-body">
                                        <h6 class="mt-0 mb-0 position-role-JX"><span>Implementation Executive</span><span class="tenure-JX">Tenure: 1 Years 6 Months</span></h6>
                                        <div class="company-name-location-JX"><span>Buzzyears Education Pvt Ltd - Gurgaon</span></div>
                                        <div class="work-description-JX"><span class="font-weight-bold">Description</span> : Worked on designing of UI using HTML, CSS, JavaScript, and JQuery functions, write js functions, create calculation workflow & data pipelines using internal application. Collect client requirement and worked on jira. Create report using SQL queries and intergrate with internal application, <a href="#">read more...</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 tools-tech-JX">
                            <ul>
                                <li>JavaScript</li>
                                <li>JQuery</li>
                                <li>HTML</li>
                                <li>CSS</li>
                                <li>Bootstrap</li>
                                <li>MySQL</li>
                                <li>JIRA</li>
                                <li>Excel</li>
                                <li>Google Spreadsheet</li>
                                <li>Data Analysis</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>