<header class="header-section">
    <div class="container-fluid">
        <div class="row AR3212-JX">
            <div class="col-sm-12 AR3213-JX">
                <div class="AR3214-JX">
                    <h1>Arvind Kumar</h1>
                    <p>Software Developer</p>
                </div>
            </div>
            <img class="AR3215-JX" src="/assets/images/avatar.png" alt="profile-image"/>
        </div>
    </div>
</header>