<section class="portfolio-section">
    <div class="container-fluid">
        <h4>Experience & Skills</h2>
        <div class="row AR3312-JX">
            <div class="col-sm-12 col-md-6">

            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="media">
                            <!-- <img src="..." class="mr-3" alt="..."> -->
                            <div class="media-body">
                                <h6 class="mt-0">Adobe Experience Manager</h6>
                                Work on AEM as AEM Developer and experience the AEM SPA Editor, OSGi, Apache Sling, JCR, HTL, servlet, core component, ACS Common, Adobe I/O Runtime and Component development.   
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="media">
                            <!-- <img src="..." class="mr-3" alt="..."> -->
                            <div class="media-body">
                                <h6 class="mt-0">WordPress, Codeignitor & Laravel</h5>
                                Work as Software Developer and developed wordpress theme functions, plugins, adding new features in website, code optimization and debugging. MySQL integration, SQL querying, SQL query integration in wordpress/codeignitor/laravel. Writing new js libraries and integrate in exiting project, creating new api using nodejs, express and mongodb.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-12">
                        <label>JAVA</label>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 80%"
                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label>JavaScript</label>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 95%"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label>PHP</label>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 70%"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label>HTML & CSS</label>
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 95%"
                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>